* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  font-size: 62.5%;

  --purple-color: #884FFE;
  --black-color: #030007;
  --blackTwo-color: #08040D;
  --gray-color: #BFBFBF;
  --border-students: #130B1D;
}

body {
  background: var(--black-color);
  color: #fff;

  position: relative;
}

header,
main #firstButton,
#students,
#secondParagraph,
#time,
#bottomSpanCard {
  font-family: 'Inter';
}
#firstParagraph,
.card,
footer,
#instagram {
  font-family: 'Sora';
}

header {
  width: 100%;
  height: 4rem; /*colocar clamp*/
  font-size: clamp(1.4rem, 8px + 2vw, 1.6rem);
  font-weight: 500;
  background: var(--purple-color);

  display: grid;
  place-content: center;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 3.2rem 2rem 0 2rem;
}
#eFrontLogo {
  width: clamp(6.8rem, 2rem + 15vw, 10rem);
  margin-bottom: 3.2rem;
}
main #firstButton {
  width: 100%;
  max-width: 37rem;
  height: clamp(3.5rem, 3.5rem + 2vw, 5.5rem);
  background: none;
  border: 1px solid var(--purple-color);
  border-radius: 4px;
  font-weight: 600;
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
  display: grid;
  place-content: center;
  font-size: 1.4rem;
  margin-bottom: 3.2rem;
}
#students {
  width: 100%; /*colocar clamp*/
  max-width: 37rem;
  height: clamp(3rem, 3rem + 2vw, 4rem);  

  border: 1px solid var(--border-students);
  border-radius: 3.2rem;
  background: var(--blackTwo-color);

  font-weight: 500;
  font-size: 1.4rem;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  margin-bottom: 4rem;
}
#students img {
  width: 1.8rem; /*colocar clamp*/
}
#firstParagraph {
  text-align: center;
  font-size: clamp(2.3rem, 1.3rem + 3vw, 3rem); /* 2.4 min*/
  line-height: clamp(2.8rem, 1rem + 3vw, 5.4rem); /*3.2 min*/
  margin-bottom: 1.6rem;
  font-weight: 600;
}
#firstParagraph span {
  color: var(--purple-color);
}
#secondParagraph {
  text-align: center;
  color: var(--gray-color);
  font-size: clamp(1.4rem, 1rem + 1vw, 1.7rem);
  line-height: 2rem;
  margin-bottom: 4.8rem;
  font-weight: 400;
}

.card {
  width: 100%; /*colocar clamp*/
  max-width: 56rem;
  background: #fff;
  color: #000;
  padding: 2.4rem 1.6rem;
  border-radius: 4px;
  margin-bottom: 4.8rem;
}
.top-card {
  display: flex;
  font-size: clamp(1.4rem, 1rem + 1vw, 1.6rem);
  align-items: center;
  gap: clamp(1.7rem, 0.7rem + 3vw, 3rem);
  margin-bottom: 3.2rem;
  font-weight: 500;
}
.top-card #percentage {
  text-transform: uppercase;
  color: #fff;
  background: var(--black-color);

  width: clamp(10rem, 4rem + 15vw, 14rem);

  height: clamp(3.3rem, 2rem + 5vw, 4.5rem); /*colocar clamp*/

  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
}
.card #firstPrice {
  font-size: clamp(1.8rem, 1rem + 2vw, 2.2rem);
  font-weight: 600;
  display: block;
  margin-bottom: 5px;
}
.card #firstPrice span {
  text-decoration: line-through;
}
.card #secondPrice {
  font-size: clamp(4.8rem, 2.6rem + 4.5vw, 5.5rem);
  font-weight: 600;
  display: block;
  margin-bottom: 3.2rem;
}
.card #secondButton {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 48rem;
  height: clamp(4.8rem, 2rem + 8vw, 5.8rem);
  background: var(--purple-color);
  border-radius: 4px;
  color: #fff;
  text-decoration: none;
  font-size: 1.6rem;
  text-transform: uppercase;
  margin: 0 auto 1.8rem;
  font-weight: 600;
}
.card .bottom-card {
  text-align: center;
}
.card #bottomSpanCard {
  font-size: clamp(1.2rem, 0.3rem + 2vw, 1.4rem);
  font-weight: 500;
}

footer {
  width: 100%;
  height: 8rem; /*colocar clamp*/
  background: var(--blackTwo-color);
  color: #fff;
  font-weight: 400;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
}
footer #instagram {
  color: var(--purple-color);
  font-weight: 600;
}